@import url('https://fonts.googleapis.com/css?family=Nova+Round&display=swap');

.branding {
    font-family: 'Nova Round', cursive;
    font-weight: 400;
    font-size: 36px;

}
#navbar {
    background: rgb(80,216,144);
    background: -moz-linear-gradient(180deg, rgba(80,216,144,1) 1%, rgba(79,152,202,1) 99%);
    background: -webkit-linear-gradient(180deg, rgba(80,216,144,1) 1%, rgba(79,152,202,1) 99%);
    background: linear-gradient(180deg, rgba(80,216,144,1) 1%, rgba(79,152,202,1) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#50d890",endColorstr="#4f98ca",GradientType=1);
}
.menu{
    transform: scale(1.8);  
}
